<div class="list-group">
  <%= active_link_to 'イベント情報の参照', '#', { :active => :exclusive, class: 'list-group-item' } %>
  <%= active_link_to '修了証明書の発行依頼', '#', { :active => :exclusive, class: 'list-group-item' } %>
</div>
