<div class="list-group">
  <%= active_link_to '修了登録', '#', { :active => :exclusive, class: 'list-group-item' } %>
  <%= active_link_to '生徒情報の参照', '#', { :active => :exclusive, class: 'list-group-item' } %>
</div>
