<div class="panel panel-default">
  <div class="panel-heading">説明会参加者の新規作成</div>
  <div class="panel-body">
    <h5>学生管理システムにようこそ！</h5>
    <p>
      <small>右のフォームに必要事項を入力してアカウント登録を完了させてください． </small>
    </p>
    <hr>
    <h5>登録ユーザーの変更ですか？ </h5>
    <p>
      <small>
        <%= link_to 'こちら', create_new_user_path(:new_type => 'graduate') %>
        からは卒業生の登録，</br>
        <%= link_to 'こちら', create_new_user_path(:new_type => 'participant') %>
        からは参加者の登録が行えます．
      </small>
    </p>
  </div>
</div>
