<h1>統計分析</h1>
<div class="tabbable">
<ul class="nav nav-tabs">
</ul>
<form>
<div class="tab-content">
</div>
<input type="hidden" name="num" value="1" id="paramnum">
<input type="submit" value="分析">
</form>
<p>
検索内容を含む生徒数
<ul>
<% @search.each do |r| %>
<li><%= r.result.size %>人</li>
<% end %>
</ul>
</p>
<%= @queryString %>