<% provide :title, 'Authorized' %>

<% breadcrumb :authorize_user %>

<h1>
  <% if @authorize_type == 'graduate' %>
    <%= t 'activerecord.attributes.unauthorized.graduate' %>
  <% else %>
    <%= t 'activerecord.attributes.unauthorized.user' %>
  <% end %>
  （<%= @user.name %>さん）
</h1>

<%= render 'authorize_form' %>
