<div class="row">

  <div class="col-md-3">

    <h4 class="lead">メニュー</h4>
    <div class="list-group">
      <a href="/events" class="list-group-item">イベント情報の参照</a>
      <a href="/cercompares" class="list-group-item">修了証明書の発行</a>
    </div>
  </div>
</div>
