<div class="row">

  <div class="col-md-3">

    <h4 class="lead">メニュー</h4>
    <div class="list-group">
      <a href="#" class="list-group-item">イベント情報の登録</a>
      <a href="#" class="list-group-item">検索・一覧表示</a>
      <a href="#" class="list-group-item">修了証明書の発行</a>
      <a href="#" class="list-group-item">参加者の認証・追加</a>
      <a href="#" class="list-group-item">統計分析</a>
      <a href="#" class="list-group-item">修了認定</a>
  </div>
</div>
