<div class="row">

  <div class="col-md-3">

    <h4 class="lead">メニュー</h4>
    <div class="list-group">
      <a href="/" class="list-group-item">修了登録</a>
      <a href="/users" class="list-group-item">生徒情報の参照</a>
  </div>
</div>
