<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- HandShake means acsu in English :P -->
      <%= link_to 'HandShake', root_url, { class: 'navbar-brand' } %>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if session[:user_id] %>
          <li><%= link_to @current_user.name, User.find(session[:user_id]) %></li>
          <li>
          <%= link_to session_path(session[:user_id]), { :method => :delete, :rel => 'tooltip', :data => { :toggle => 'tooltip', :placement => 'bottom' }, :title => 'signout' } do %>
              <span class="fa fa-sign-out"></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
