<% provide :title, 'After Graduation' %>

<h1><%= t("register_after_graduation") %></h1>

<%= render 'form' %>

<%= link_to 'Show', @after_graduation %> |
<%= link_to 'Back', after_graduations_path %>
