<% breadcrumb :new_certificate %>

<h1><%= t("register_certificate") %></h1>

<%= render 'form' %>

<% if @current_user.user_type == :admin %>
  <%= link_to 'Back', certificates_path %>
<% else %>
  <%= link_to 'Back', root_path %>
<% end %>
